.connect-account-overlay {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  background: #f6f7f9;

  .connect-account-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .flick-link-box {
      width: 26.3%;
      max-width: 380px;
      margin-top: 15px;
      border-radius: 10px;
      background: #fff;

      .flick-link-title {
        width: 100%;
        display: flex;
        gap: 15px;
        padding: 10px 10px 10px 16px;
        border-bottom: 1px solid rgba(231, 234, 238, 0.4);
        .flick-link {
          display: flex;
          flex-direction: column;
          gap: 4px;
          .link-demo {
            color: var(--gray-900, #101828);
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.32px;
          }
          .explore-flick {
            color: var(--Flick-Subtext, #8c8f97);
            text-align: center;
            font-size: 12px;
            font-weight: 450;
            line-height: normal;
            letter-spacing: -0.24px;
          }
        }
      }

      .flick-link-form {
        width: 100%;
        padding: 36px 27px 29px 27px;
        .flick-link-inner {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-bottom: 24px;

          .input_container {
            position: relative;
            padding-top: 15px;
            width: 100%;
            .input-group {
              border-radius: 8px;
              border: 1px solid var(--Flick-Stroke, #eaecf0);
              background: #fff;
              display: flex;
              align-items: center;
              background: #fff;
              padding: 10px 16px;
              .input-name {
                color: var(--flick-secondary-5, #151f32);
                font-size: 12px;
                font-weight: 300;
                line-height: normal;
                border: none;
                width: 90%;
                &:focus {
                  outline: none;
                }
              }
              .input-name,
              textarea {
                caret-color: var(--flick-primary-5, #2ebdb6);
              }
            }
            .input-label {
              position: absolute;
              top: 0;
              left: 6px;
              color: var(--Flick-Subtext, #8c8f97);
              font-size: 12px;
              font-weight: 450;
              line-height: 20px;
              background: #fff;
              padding: 4px;
            }

            .input-group.clicked {
              border: 1px solid var(--flick-primary-5, #2ebdb6);
            }

            .input-label.clicked {
              color: var(--flick-primary-5, #2ebdb6);
            }
          }
          .input-field {
            padding: 16px 10px 17px 10px;
            width: 100%;
            border-radius: 6px;
            border: 1px solid var(--Flick-Stroke, #eaecf0);
            background: var(--shade-white, #fff);
            outline: none;
            color: var(--flick-secondary-5, #151f32);
            font-size: 12px;
            font-weight: 300;
            line-height: normal;
          }
          .input-field,
          textarea {
            caret-color: var(--flick-primary-5, #2ebdb6);
          }
        }
      }
    }

    .connect-account-box {
      width: 24%;
      max-width: 347px;
      border-radius: 10px;
      background: #fff;
      //   padding-bottom: 33px;

      .close-button {
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        margin-top: 15px;
      }
      .flick-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 28px;
        margin-bottom: 24px;
      }
      .super-wallet {
        color: #000;
        text-align: center;
        font-size: 20px;
        font-weight: lighter;
        line-height: normal;
        letter-spacing: -0.4px;
        margin-left: 20px;
        margin-right: 20px;
      }

      .connect-effortless {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 21px;
        margin-bottom: 24px;
        padding-left: 20px;
        padding-right: 22px;

        .border-line {
          border-bottom: 1px solid var(--Flick-Stroke, #eaecf0);
          margin-bottom: 4px;
        }

        .connect-title {
          width: 100%;
          display: flex;
          align-items: flex-start;
          gap: 16px;
          .connect-link {
            display: flex;
            flex-direction: column;
            gap: 7px;
            .connect-your-account {
              color: var(--flick-secondary-5, #151f32);
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
            }
            .securely-connect {
              color: var(--Flick-Subtext, #8c8f97);
              font-size: 12px;
              font-weight: 450;
              line-height: 18px;
            }
          }
        }
      }
      // Choose Your Bank
      .choose-bank {
        display: flex;
        justify-content: space-between;
        padding: 15px 15px 0px 15px;
        .choose-your-bank {
          color: #000;
          text-align: center;
          font-size: 14px;
          font-weight: 450;
          line-height: normal;
          letter-spacing: -0.28px;
        }
      }

      .selection {
        color: #000;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.4px;
      }

      //Enter Credentials

      .input_container {
        position: relative;
        padding-top: 15px;
        width: 100%;
        .input-group {
          border-radius: 8px;
          border: 1px solid var(--Flick-Stroke, #eaecf0);
          background: #fff;
          display: flex;
          align-items: center;
          background: #fff;
          padding: 10px 16px;
          .input-name {
            color: var(--flick-secondary-5, #151f32);
            font-size: 12px;
            font-weight: 300;
            line-height: normal;
            border: none;
            width: 90%;
            &:focus {
              outline: none;
            }
          }
          .input-name,
          textarea {
            caret-color: var(--flick-primary-5, #2ebdb6);
          }
        }
        .input-label {
          position: absolute;
          top: 0;
          left: 6px;
          color: var(--Flick-Subtext, #8c8f97);
          font-size: 12px;
          font-weight: 450;
          line-height: 20px;
          background: #fff;
          padding: 4px;
        }

        .input-group.clicked {
          border: 1px solid var(--flick-primary-5, #2ebdb6);
        }

        .input-label.clicked {
          color: var(--flick-primary-5, #2ebdb6);
        }
      }
      .input-field {
        padding: 16px 10px 17px 10px;
        width: 100%;
        border-radius: 6px;
        border: 1px solid var(--Flick-Stroke, #eaecf0);
        background: var(--shade-white, #fff);
        outline: none;
        color: var(--flick-secondary-5, #151f32);
        font-size: 12px;
        font-weight: 300;
        line-height: normal;
      }
      .input-field,
      textarea {
        caret-color: var(--flick-primary-5, #2ebdb6);
      }

      //Enter Credentials
      .enter-credentials {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding-top: 16px;
        .enter-your-credentials {
          color: var(--flick-secondary-5, #151f32);
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }
        .credentials {
          color: var(--Flick-Subtext, #8c8f97);
          font-size: 12px;
          font-weight: 450;
          line-height: 18px;
        }
      }
      .secured-flick {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 24.5px;
      }

      //Connect Account
      .connect-accounts-image {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--Flick-Stroke, #eaecf0);
        padding-bottom: 20px;
      }
      .account-name {
        color: var(--Flick-Subtext, #8c8f97);
        font-size: 10px;
        font-weight: 450;
        line-height: 18px;
      }
      .account-type-container {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 24px;
        margin-bottom: 24px;
        .account-type {
          display: flex;
          justify-content: space-between;
          border-radius: 8px;
          border: 1px solid var(--Flick-Stroke, #eaecf0);
          background: #fff;
          padding: 11px 11px 10px 11px;
          .account-type-text {
            display: flex;
            flex-direction: column;
            gap: 7px;
            .type-of-account {
              color: var(--flick-secondary-5, #151f32);
              font-size: 12px;
              font-weight: 450;
              line-height: normal;
            }
            .account-number {
              color: var(--Subtext-2, #606b81);
              font-size: 12px;
              font-weight: 300;
              line-height: normal;
            }
          }
        }
      }
      //Account Connected
      .success-flick {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
      }
      .connected {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 24px 63px 80px 63px;
        gap: 4px;
      }
      .account-connected {
        color: var(--flick-secondary-5, #151f32);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
      .your-account {
        color: var(--Flick-Subtext, #8c8f97);
        text-align: center;
        font-size: 10px;
        font-weight: 450;
        line-height: 18px;
      }

      //SelectBanks

      .select-banks {
        display: flex;
        flex-direction: column;
        padding: 27px 21px 21.5px 21px;
        .search-banks {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 11px 14px;
          border-radius: 8px;
          border: 1px solid var(--Flick-Stroke, #eaecf0);
          box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
            0px 12px 16px -4px rgba(16, 24, 40, 0.08);
          margin-bottom: 22px;
          .search-field {
            width: 100%;
            border: none;
            outline: none;
            color: var(--flick-secondary-5, #151f32);
            font-size: 12px;
            font-weight: 450;
            line-height: normal;
            line-height: 20px;
            letter-spacing: 0.24px;
          }
          .search-field,
          textarea {
            caret-color: var(--flick-primary-5, #2ebdb6);
          }
        }
        // .map-banks {
        //   display: flex;
        //   flex-wrap: wrap;
        //   overflow-x: scroll;
        //   .select-bank {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     justify-content: center;
        //     border-radius: 8px;
        //     background: #f8f8f8;
        //     gap: 8px;
        //     width: calc((100% / 3) - 8px);
        //     height: 96px;
        //     margin-right: 8px;
        //     margin-bottom: 16px;
        //     &:last-child {
        //       margin-right: 0;
        //       .bank-name {
        //         color: var(--flick-secondary-5, #151f32);
        //         font-size: 14px;
        //         font-weight: 450;
        //         line-height: 20px;
        //       }
        //     }
        //   }
        // }
        .bank-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          max-height: 270px; 
          overflow-y: auto; 
          gap: 8px; 
          margin-bottom: 21.5px;
          .select-bank {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            gap: 12px;
            background: #f8f8f8;
            flex-basis: calc(33.33% - 8px); 
            max-width: calc(33.33% - 8px);
            height: 96px;
            padding: 20px 23px;
            .bank-name {
              color: var(--flick-secondary-5, #151f32);
              font-size: 14px;
              font-weight: 450;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
