
// top Nav bar
.nav{
    height: 83px;
    background: #FFFFFF;
    width: 100%;
    // padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;

    & .nav-wrapper{
        padding-top: 10px;
        display: flex;
        width: 94%;
        justify-content: flex-end;
        // .handburger{
        //     margin-left: 2rem;
        //     font-size: 2rem;
            
        //     display: flex;
        //     justify-content: flex-start;
        //     align-items: center;
        //     display: none;
        // }
    
        & .nav-right{
            display: flex;  
            gap:12px;
            margin: 0; 
            & .nav-content{
                display: flex;
                gap: 12px;
                align-items: center;
    
                .nav-btn{
                    display: flex;
                    padding: 10px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid #D0D5DD;
                    background: var(--base-white, #FFF);
                    margin: 0;
                    cursor: pointer;
    
                }
                & .live-test-mode{
                    gap: 8px;
                    display: flex;
                    align-items: center;
                    
                    & .nav-toggle-img{
                        cursor: pointer;
                        &:hover{
                            transform: scaleX(1.1);
                        }
                    }
                }
    
                & .divider{
                    width: 1px;
                    height: 36px;
                    background: #EAECF0;
                }
               
            }
    
        }
    }
    
   
}

.nav-profile{
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;

   & .nav-profile-avatar{
    position: relative;

    .nav-profile-avatar-img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    & .nav-profile-online-indicator{
        position: absolute;
        right:0;
        bottom: 0;
    }

   } 
   & .nav-profile-content{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    & .nav-email{
        color: #475467;
        font-size: 12px;
        font-family: Circular Std;
        font-weight: 450;
        line-height: 18px;
        margin: 0;
    }


   }
}
.sidebar-avater{
    margin-left: 40px;
}
.sidbar-line{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 24px;
    height: 1px;
    background:  #EAECF0;
}
.nav-heading{
    color: var(--gray-700, #344054);
    font-size: 14px;
    font-family: Circular Std;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

// SideBar
.sideBar{
    width: 280px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: sticky;
    top: 0;

    .sideBarWrapper{
        width: 248px;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        justify-content: space-between;
        height: 100vh;
        
        .sidebar-menu-wrapper{
            margin-top: 45px;
            margin-left: 16px;
            margin-right: 16px;
            .sidebar-logo{
                width: 89px;
                height: 30px;
                margin-left: 12px;
            }
            .sidebar-content-container{ 
                width: 100%;
                height: 550px;
                overflow-y: scroll;

                & .main-menu-text{
                    color: var(--flick-secondary-1, #7F91B4);
                    font-size: 12px;
                    font-family: Circular Std;
                    font-weight: 450;
                    line-height: 140%;
                    letter-spacing: 0.2px;
                    margin: 0;
                    margin-bottom: 18px;
                    margin-left: 12px;
                    
                }
                width: 100%;
                margin-top: 48px;
            }
        }
    }
}

// sub manu
.sidebar-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
    &.menuactive{
        background:  #F9FAFB;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    // &.hover-effect:hover{
    //     background:  #F9FAFB;
    //     transition: all 0.3s ease-in-out;
    // }
    &.hover-effect{
        position: relative;
        transition: all 0.3s ease-in-out;

        &:hover {
            background:  #F9FAFB;
            margin-bottom: 10px;
            &::before {
                opacity: 1;
                width: 100%;
            }
        }
        &::before {
            width: 100%;
            opacity: 1;
        }
    }
    .sidebar-menu-item{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        

        & .sidebar-menu-content{
            display: flex;
            gap: 12px;
            align-items: center;
            
            .sidebar-text{
                margin: 0;
                color:  #344054;
                font-size: 14px;
                font-weight: 450;
                line-height: 140%;
                letter-spacing: 0.2px;

                &.text-active{
                  color:#101828 ; 
                  font-weight: 500; 
                }
            }
        }
    }

    .sidebar-submenu-container{
        display: flex;
        align-items: center;
        gap: 10px;

        .sidebar-submenu-text{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
            .subtitle-text-container{
                
                padding-left: 10px;
                padding-right: 80px;
                border-radius: 6px;
                &:hover{
                    background:  #F9FAFB;
                }
                .sidebar-subtitle{
                    color:  #344054;
                    font-size: 14px;
                    font-weight: 450;
                    line-height: 24px;
                    margin: 0;
    
                    
    
                }
            }
        }
    }
} 
// profile modal

.profile-modal{
  border-radius: 6px;
  background: #FFF;
  width: 207px;
  position: absolute;
  right: 32px;
  top: 90px;
  z-index: 5;
  height: 100px;
  box-shadow: -5px 0px 15px 0px rgba(37,151,146,0.75);
-webkit-box-shadow: -5px 0px 15px 0px rgba(37,151,146,0.75);
-moz-box-shadow: -5px 0px 15px 0px rgba(37,151,146,0.75);

  .profile-modal-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
    justify-content: center;


    .profile_item{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top:30px;
        cursor: pointer;
        
        .logout_profile_text{
            color: var(--flick-secondary-5, #151F32);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.42px;
            &:hover{
                color: #259792;
                transform: scale(1.2);
            }
        }
    }

  }
}


