$smlg-device: 'only screen and (max-width: 1199px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';

.footer{
    margin-top: 128px;
    border-top: 1px solid #EEEEEE;
    width:100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 32px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    .footer-main{
        width: 77%;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1.5fr; 
        gap: 66px;

        @media (max-width:1056px){
            grid-template-columns: 1fr;
        }

        
        & .footer-flick{
            & .footer-flick-img{
                margin-bottom: 20px;
            }
            & p{
                font-style: normal;
                font-weight: 450;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0.2px;
                color: #7283A4;
                margin-bottom: 52px;
            }
            & .footer-download{
                display: flex;
                gap: 15px;

                @media (max-width:760px){
                    & .download-link{
                        width: 100px;
                    }
                }
            }
        }

        & .footer-widget {
           
            .widget-title {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.2px;
                color: #259792;
                margin-bottom: 30px;
            }

            & .address{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap:9px;
                margin-bottom: 25px;

                & p{
                    font-weight: 450;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.2px;
                    color: #303C53;
                }
            }
            
        }
    }
}

.footer-menu-link {
    & h6,span{
        color: #303C53;
        margin-bottom: 25px;
    }
    
    li {
        margin-bottom: 25px;
        a {
            font-style: normal;
            font-weight: 450;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.2px;
            color: #303C53;
            @media #{$md-layout} {
                font-size: 16px;
            }
            &:hover {
                color: var(--color-link);
            }
        }
    }

   
}
.footer-line{
    width: 100%;
    border: 1px solid #EEEEEE;
    margin-top: 30px;
    margin-bottom: 22px;
}

.footer-aside{
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:1056px){
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    & .copywrite{
        font-style: normal;
        font-weight: 450;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.2px;
        color: #151F32;
        
    }
    & .footer-action{
        display: flex;
        align-items: center;

        @media (max-width:535px){
            flex-direction: column-reverse;
            gap:0.6rem;
            align-items: flex-start;
        }
        .foot-action-btn{
            display: flex;
            gap:0.5rem;
            .unsubscribe{
                background: #EAF8F8;
                border-radius: 20px;
                font-style: normal;
                font-weight: 450;
                font-size: 10px;
                line-height: 110%;
                color: #2EBDB6;   
                padding: 6px;
                height: 21px;
                
            }
            .delete{    
                display: inline-block;
                padding: 6px;
                background: rgba(236, 70, 76, 0.07);
                border-radius: 20px;
                margin-left: 13px;
                margin-right: 20px;
                height: 21px;
                display: flex;
                align-items: center;
                font-weight: 450;
                font-size: 10px;
                line-height: 110%;
                color: #ED1C24;  
                @media (max-width:535px){
                    margin-left: 0;
                } 
                
            }
        }
    }
        
   
}

.footer-social-link {
    display: flex;
    gap: 30px;
    align-items: center;
    
    li {
        a {
            color: var(--color-gray-3);
            font-size: 24px;
            padding: 5px;
            @media #{$md-layout} {
                font-size: 20px;
            }
            &:hover {
                color: var(--color-link);
            }
        }
      
    }
}