.footer2{
    width: 243px;
    display: flex;
    justify-content: space-between;

    .flick-footer{
        font-style: normal;
        font-weight: 450;
        font-size: 13px;
        line-height: 20px;
        color: #3F3F3F;
    }
    .footer-dot{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;  
        color: #3F3F3F;
        
    }
    

}