.page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  
}

.aside-content {
  background: #fff;
}
// background: #F6F7F9;

.main-inner {
  width: 100%;
  margin-top: 32px;
}




.name-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background: #FFF;
  padding: 19px 23px;

  &.customer-bg{
    background-color: inherit;
  }

  .name-control-title {
    display: flex;
    gap: 32px;
    align-items: center;
    & .name-control-title-content{
      & .name-control-title {
        margin: 0;
        color: var(--gray-900, #101828);
        font-size: 24px;
        font-family: Circular Std;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 5px;
        display: flex;

      }
      
      & .name-control-desc {
        color: var(--gray-600, #475467);
        font-size: 14px;
        font-family: Circular Std;
        font-weight: 450;
        line-height: 24px;
      }

    }
    .balance-transfer-options{
      border-radius: 12px;
      background: #F4F6F8;
      
      padding: 17px 11px;
      box-sizing: border-box;
      & .transfer-options{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }
  & .customer-back{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background: var(--base-white, #FFF);

    & .customer-arrowBack{
      color:  #344054;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; 
    }
  }
  & .name-control-btn {
    border: 1px solid #eaecf0;
    display: flex;
    padding: 4px;
    gap: 12px;
    border-radius: 60px;
    background: #F2F5F7;

    .btn-control {
      padding: 10px 14px;
      color: #151f32;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      outline: none;
      border: none;
      
      background: transparent;
      &.active-btn {
       
        border-radius: 60px;
        background: var(--flick-primary-6, #259792);
        color: var(--material-theme-white, #FFF);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: normal;
      }
    }
  }

  & .btn-name-control-container{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    background: var(--flick-secondary-5, #151F32);

  }
}

//Introduce Business

.introduce {
  display: flex;
  width: 100%;
  padding-top: 24px;

  .overview-session {
    display: flex;
    flex-direction: column;
    width: 69.1%;
  }

  .main-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: #fff;
    margin-left: 32px;
    margin-bottom: 24px;
    padding: 32px 32px 32px 32px;

    .main-form-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      .info-form-title {
        margin-bottom: 32px;
        border-bottom: 1px solid var(--flick-stroke, #eaecf0);

        .provide-info {
          color: var(--gray-900, #101828);
          font-size: 18px;
          font-weight: 500;
          line-height: normal;
        }
        .share-details {
          color: var(--flick-secondary-1, #7f91b4);
          font-size: 14px;
          font-weight: 450;
          line-height: normal;
          margin-top: 5px;
          margin-bottom: 16px;
        }
      }

      .info-form {
        display: flex;
        justify-content: space-between;

        .info-form-left {
          width: 48.4%;
        }

        .info-form-right {
          width: 48.4%;
        }
      }
      .dispute-form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .bank-group {
          display: flex;
          flex-direction: column;


          &.bank-option{
            display: none;
          }
          &.bank-active{
            display: block;
            display: flex;
          }
        }
        .debit-group {
          display: flex;
          justify-content: space-between;

          &.flick-group{
            display: none;
          }
          &.flick-active{
            display: block;
            display: flex;
          }
          .left-form-groups {
            margin-bottom: 20px;
            width: 48.4%;
          }

          .right-form-groups {
            margin-bottom: 20px;
            width: 48.4%;
          }
        }
      }
      .submit {
        border-radius: 6px;
        background: #151f32;
        display: flex;
        width: 30%;
        padding-top: 14px;
        padding-bottom: 14px;
        justify-content: center;
        align-items: center;
        .submit-text {
          color: var(--colors-grey-50, #f7f8fa);
          font-size: 16px;
          font-weight: 450;
          line-height: normal;
        }
      }
    }
  }
}

//Shareholders

.shareholder {
  display: flex;
  margin-bottom: 20px;
  .icon-text {
    display: flex;

    .shareholder-text {
      color: var(--gray-700, #344054);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-left: 8px;
    }
  }
  .other-text {
    color: var(--gray-600, #475467);
    font-size: 14px;
    font-weight: 450;
    line-height: 20px;
    margin-left: 24px;
  }
}

//Go Back
.back-introduce {
  display: flex;
  flex-direction: column;
  width: 100%;

  .go-back-btn {
    display: flex;
    padding: 10px 16px;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #d0d5dd);
    background: var(--base-white, #fff);
    width: 12%;
    .btn-title {
      color: var(--gray-700, #344054);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

//Settings
.settings-page {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 48px;
}

// payment-customer

.customer-overview{
  width: 100%;
  border-radius: 12px;
  background: #FFF;
  box-sizing: border-box;
  padding: 29px 32px;
  display: flex;
  align-items: center;
  gap: 38px;
& .customer-profile{
    display: flex;
    gap: 12px;
    align-items: center;
    .customer-profile-avater{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    & .customer-profile-content{
      display: flex;
      flex-direction: column;
        & .customer-profile-name{
          color:  #101828;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 38px; 
        }
        & .customer-profile-email{
          color:  #475467;
          font-size: 14px;
          font-style: normal;
          font-weight: 450;
          line-height: 24px; 
        }

        & .customer-profile-flow{
          color:  #98A2B3;
          font-size: 10px;
          font-style: normal;
          font-weight: 450;
          line-height: normal;
          margin-bottom: 10px;
        }

        & .customer-profile-amount{
          color: #151F32;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }
    }
    
}

& .customer-line{
  width: 1px;
  height: 60px;
  background: #EAECF0;
}

& .customer-date{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  .customer-date-text{
    color: #475467;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px; 
  }

}
}

// Data Income

.data-Income-detail{
  border-radius: 12px;
  background: #FFF;
  padding: 27px 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .data-Income-name{
    display: flex;
    align-items: center;
    gap: 12px;
    & .data-income-img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    & .idName{

      & .title-income{
        color:  #101828;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px; 
      }
      & .data-incomeId{
        display: flex;
        align-items: center;
        gap: 13px;
      }
    }
  }
}
.data-incomeId{
  display: flex;
  align-items: center;
  gap: 12px;
}

// balance

.all-balancey-currency{
  display: flex;
  border-radius: 16px;
  border: 1px solid var(--gray-200, #EAECF0);
  background: var(--gray-50, #F9FAFB);
  mix-blend-mode: multiply;
  padding: 4px 6px;
  align-items: center;
  gap: 6px;
}
.curreny-option{
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--gray-700, #344054);
text-align: center;
font-family: Circular Std;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}


//
.data-nav-btn{
  border-radius: 60px;
  background: #FFF;
  display: flex;
  padding: 7px;
  .dataItembtn{
    display: flex;
    
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Subtext-2, #606B81);
    text-align: center;
    font-family: Circular Std;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    cursor: pointer;

    &:hover{
      color:#259792 ;
    }

    &.active{
      padding: 10px 16px;
      border-radius: 60px;
      background: var(--flick-primary-6, #259792);
      color: var(--material-theme-white, #FFF);
      animation: fadeIn .5s linear;
    }
  }


}
// back btn

 .customer-back{
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--base-white, #FFF);

  .customer-arrowBack{
    color:  #344054;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
  }
}

.top_bar{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;

  padding: 19px 23px;
}

.syn_backlist{
  display: flex;
  gap: 12px;
  align-items: center;
  &.off_sync{
    display: none;
  }
}

// 
//Customer Account
//customer identity

.topbar_identity{
  width: 100%;


  
}
.topbar_identity{
  width: 100%;
  border-radius: 12px;
  background: #FFF;
  padding: 36px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar_identity_left{

}

.link-bar-left{
  display: flex;
  gap: 12px;
  align-items: center;

  .link-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .link-right-copy{
      display: flex;
      
      .input_link_copy{
        color: var(--gray-600, #475467);
        font-family: Circular Std;
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: 20px; /* 142.857% */
        outline: none;
        width: 200px;
        border: none;
        
      }
    }
  }
}
.text_h3{
  color: var(--gray-900, #101828);
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 158.333% */
}

.data_customer{
  width: 100%;
  
}

.currency_add{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 30px;
  cursor: pointer;

  .currency_add_text{
    color: var(--flick-primary-5, #2EBDB6);
    font-family: Circular Std;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 20px; /* 142.857% */
  }
}

.currencies_select{

  border-left: 1px solid #EAECF0;
  padding-left: 22px;

  .currencies_select_content{
    display: flex;
    gap: 2px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--gray-50, #F9FAFB);
    mix-blend-mode: multiply;
    padding:  4px 6px;

    .select_input_val{
      background-color: transparent;
      border: none;
      color: var(--gray-700, #344054);
      text-align: center;
      font-family: Circular Std;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      &:focus{
        border: none;
        outline: none;
      }
    }
  }

}

// Credit reports

.credit_reports{
  width: 100%;
  border-radius: 14px;
  background: #FFF;
  padding: 25px;
  margin-top: 32px;
  .credit_reports_title{
    color: #151F32;
    font-family: Circular Std;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .credit_reports_items{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 37px;
    .credit_report_item{
      border-radius: var(--radius-md, 8px);
      background: #EEF3FC;
      padding: 12px 19px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .credit_item_content{
        .credit_item_title{
          color: #2D68D8;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px; /* 175% */
          letter-spacing: -0.32px;
        }
        .credit_item_desc{
          color: #6394E3;
          font-size: 14px;
          font-style: normal;
          font-weight: 450;
          line-height: 20px; /* 142.857% */
        }
      }
    }
  }
}

.credit_report_chart{
  width: 100%;
 
  margin-top: 32px;
  border-radius: 14px;
  background: #FFF;
  padding: 22px;
  
}
.credit_chart_title_container{
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  .credit_chart_title{
    color: var(--flick-secondary-5, #151F32);
    font-family: Circular Std;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */

   
  }
}

.risk_indicator{
  width: 100%;
  padding: 24px;
  border-radius: 14px;
  background: #FFF;
  margin-top: 32px;
  margin-bottom: 4rem;
  .risk_indicator_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

    .risk_indicator_item{
      padding: 24px 16px;
      border-radius: 12px;
      border: 1px solid var(--grey-200, #E4E7EC);
      background: var(--shade-white, #FFF);

      .risk_indicator_num{
        border-radius: 8px;
        background: var(--success-50, #E7F6EC);
        padding: 3px 9px;
        margin-bottom: 16px;
        width: fit-content;
      }
      .risk_indicator_title{
        color: #344054;
        font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
        font-family: Circular Std;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
        margin-bottom: 5px;
      }
      .risk_indicator_desc{
        color: var(--Flick-Subtext, #8C8F97);
        font-feature-settings: 'cv04' on, 'cv03' on;
        font-family: Circular Std;
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: 20px; /* 142.857% */
      }
    }
  }
}

// payment
.payment_top{
  width: 100%;
  border-radius: 12px;
  background: #FFF;
  padding: 14px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .payment_top_left{
    display: flex;
    gap: 40px;
    align-items: center;
    .payment_top_content{

      .payment_top_titlee{
        color: var(--gray-900, #101828);
        font-family: Circular Std;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px; 
      }

      .payment_top_desc{
        color: #999;
        font-family: Circular Std;
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: 24px; 
      }
    }
  }
}