.text_h1{
    color: var(--flick-secondary-4, #303C53);
    text-align: center;
    font-family: Circular Std;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.64px; /* 155.429% */
}
.text_h5{
    color: var(--gray-700, #344054);
    font-family: Circular Std;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
.text_p{
    color: var(--Flick-Subtext, #8C8F97);
    font-family: Circular Std;
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: 18px; /* 150% */
}

.link_flex_gap{
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 15px;
}

.link_item{
    display: flex;
    gap: 9px;
    align-items: flex-start;
}
.link_item_text{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_m{
    margin-top: 29px;
}
.search_bar{
    border-radius: 8px;
    border: 1px solid var(--Flick-Stroke, #EAECF0);
    
    display: flex;
    align-items: center;
    padding: 13px;
    margin-top: 24px;
    margin-bottom: 16px;
    justify-content: space-between;
    .searchInput{
        color: var(--flick-secondary-5, #151F32);
        font-family: Circular Std;
        font-size: 12px;
        font-style: normal;
        font-weight: 450;
        line-height: 20px; /* 166.667% */
        letter-spacing: 0.24px;
        width: 90%;
        border: none;
        

        &:focus{
            outline: none;
        }
        
    }
}
.menu_profile{
    margin-top: 16px;
    width: 100%;
    overflow-y: auto;
    .menu_btn{
        display: flex;

        .menu_btn_item{
            display: flex;
            width: 171px;
            padding: 1px 4px 11px 4px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: var(--gray-500, #667085);
            font-family: Circular Std;
            font-size: 14px;
            font-style: normal;
            font-weight: 450;
            line-height: 24px; 
            border-bottom:1px solid #667085;
            cursor: pointer;
            
            
            &.active{
                border-bottom: 2px solid var(--primary-700, #1C716D);
                color: var(--primary-700, #1C716D);
            }
        }
        
    }
}
.menu_items_content{
    display: flex;
    flex-direction: column;
   
    .menu_items{
        display: flex;
        width: 100%;
        padding: 16px 24px;
        align-items: center;
        gap: 12px;
        border-bottom: 1px solid var(--gray-100, #F2F4F7);

        .img_menu{
            width: 23.813px;
            height: 23.813px;
            border-radius: 50%;
        }
    }
}

.bank_logo{
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.login_method{
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 43px;
    .login_method_item{
        display: flex;
        gap: 16px;
        align-items: flex-start;
        padding-bottom: 18px;
        border-bottom: 1px solid var(--Flick-Stroke, #EAECF0);

        .login_method_col{
            display: flex;
            flex-direction: column;
            gap: 7px;
        }

    }
}

.personal_login{
    width: 100%;
    border-radius: 6px;
    background: #FAEDE8;
    padding: 18px 40px 18px 40px;
    margin-top: 32px;
    overflow-y: auto;
}
.form_input{
    display:flex;
    flex-direction:column;
    gap: 20px;
.input_group{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:6px;

    .input_text{
        color: var(--gray-700, #344054);
        font-family: Circular Std;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; 
    }
    .input_link{
        border-radius: 8px;
        border: 1px solid #D0D5DD;
        background: var(--base-white, #FFF);
        width:100%;
        padding: 8px 12px;
    }
}
}

.btn_extra{
    background: #D55A32;
}

.bgItem{
border-radius: 8px;
background: #FDF5F3;
padding-top: 16px;
padding-left: 17px;
&.bank_active{
    background: #F15D2F;
}

}
.text_color{
    color: var(--Flick-Subtext, #8C8F97);
    font-family: Circular Std;
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: 18px; /* 150% */

    &.active{
        color: rgba(255, 255, 255, 0.80);
    }
    
}
.p_active{
    color: #FFF;
}

.log_h{
color: #FFF;
text-align: center;
font-family: Circular Std;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 83.333% */
margin-bottom: 10px;
}
.img_success{
    margin:0 auto ;
    margin-top: 112px;
    width: 80px;
height: 80px;
}
.log_p{
color: rgba(255, 255, 255, 0.80);
text-align: center;
font-family: Circular Std;
font-size: 14px;
font-style: normal;
font-weight: 450;
line-height: 20px; /* 142.857% */
margin-bottom: 69px;
}
.cont_btn{
    background: #FFF;
    color: var(--flick-primary-6, #259792);
}