@import url('https://fonts.cdnfonts.com/css/circular-std');

/*-------------------------
    Variables
-------------------------*/
:root {
  --color-primary: #259792;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light: #FAFCFE;
  --color-dark: #8C8F97;
  --color-primary-link: #1f5a57;
  --color-dark-link: #7f8082;
  --color-link: #7f8082;

  --transition: all 0.3s ease-in-out;

}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@keyframes dropTop {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: var(--transition);
  color: #2EBDB6;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: block;
}


ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


body {
  margin: 0;
  
  font-family: 'Circular Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*  */
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.copyInput{
  outline:none;
  background:transparent;
  border:none;
  width:95px;
}
/*-------------------------
    Button
-------------------------*/

.btn,
.btn-white,
.btn-md,
.btn-light {
  width: 100%;
  padding: 10px 12px;
  background: var(--color-light);
  border-radius: 6px;
  font-style: normal;

  height: auto;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  background-color: #151F32;
  border-radius: 6px;
  background: var(--flick-primary-6, #259792);
  color: #F7F8FA;
  overflow: hidden;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;


}

.btn-landing{
  width: fit-content;
  padding: 10px 12px;
  background: var(--color-primary);
  border-radius: 6px;
  font-style: normal;
  height: auto;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  border-radius: 6px;
  color: var(--color-white);
  overflow: hidden;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}


.btn {
  width: 100%;
}


.btn::after,
.btn-md::after,
.btn-light::after {
  content: "";
  height: 300px;
  width: 300px;
  
  background-color: #0d5653;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0);
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;

}
.btn-landing::after{
  content: "";
  height: 300px;
  width: 300px;
  
  background-color: var(--color-primary-link);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0);
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
}
.btn-white::after{
  content: "";
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0);
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
  background-color: #ECF2F6;
}
.btn-landing:hover{
  background-color: #3ed4cf;
  border-color: #0d5653;
  color:var(--color-light) ;
  transform: scale(1.2);
}

.btn:hover,
.btn-md:hover,
.btn-light:hover {
  background-color: #0d5653;
  border-color: #0d5653;
  color: #F7F8FA;
}

.btn-white:hover{
  background-color: #fefdfd;
  border-color: #a1a3a7;
}

.btn:hover::after,
.btn-white:hover::after,
.btn-md:hover::after,
.btn-landing::after,
.btn-light:hover::after {
  transform: translateY(-50%) translateX(-50%) scale(1);
}

/* input group */

.form-groups {
  margin-bottom: 20px;
}

.lbl {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #151F32;

}
 .form-control {
  background: #FFFFFF;
  border: 1px solid #EAECF0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 100%;
  height: 40px;
}

.form-select-group {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EAECF0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  padding-right: 10px;
  position: relative;
}

.input-select {
  border: none;
  width: 100%;
  outline: none;
  margin-top: 10px;



}

.form-select-line {
  position: absolute;
  width: 1px;
  height: 15px;
  background: #101828;
  right: 30px;
  top: 12px;
}

input::placeholder {
  color: #D0D5DD !important;
}

.border-bottom {
  border-bottom: 1px solid var(--flick-stroke, #EAECF0);
}

.click-to-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1px dashed var(--gray-200, #EAECF0);
  background: var(--base-white, #FFF);
  padding-top: 16px;
  padding-bottom: 16px;
}

.click {
  color: var(--gray-600, #475467);
  font-size: 14px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
}

.file-type {
  color: var(--gray-600, #475467);
  text-align: center;
  font-size: 12px;
  font-weight: 450;
  line-height: 18px;
}

.file-upload {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid #EAECF0;
  background: var(--base-white, #FFF);
  padding: 16px 16px 16px 16px;
}

.icon-file {
  display: flex;
}

.click {
  color: var(--gray-700, #344054);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 8px;
}

.file-size {
  color: var(--gray-600, #475467);
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
}

.add-btn {
  display: flex;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--base-white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  margin-top: 16px;
}

.add-another {
  color: var(--gray-700, #344054);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 8px;
}