@keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
.settlement-summary-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:32px;
}
.settlement-summary{
    display: flex;
    
    border-radius: 12px;
    background: #FFF;
    padding: 18px;
    justify-content: space-between; 
    width: 69%;

}
.settlement-right{
    // background: url('../../assets/bgCollectionPayment.svg')no-repeat center center/cover;
    background-color: #FFFFFF;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding-top: 26px;
    padding-bottom: 26px;
    .settlement-wrapper{
        width: 84%;
        
        
        .refer-title{
            color: var(--flick-secondary-5, #151F32);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.32px;
            margin-top: 33px;
            margin-bottom: 17px;
        }
        .refer-link-input{
            border-radius: 6px;
            background: #F6F6F6;
            outline: none;
            color: var(--Flick-Subtext, #8C8F97);
            font-family: Circular Std;
            font-size: 12px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
            letter-spacing: 0.24px;
            padding: 9px 16px 9px 10px;
            width: 80%;
            border: none;
            margin-right: 8px;
            
        }
        .ellips-title{
            color: #FFF;
            font-family: Circular Std;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.32px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        .ellips-desc{
            color: #FFF;
            font-family: Circular Std;
            font-size: 12px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
            letter-spacing: 0.24px;
            margin-bottom: 16px;
        }
        .ellips-refer{
            
            color: #FFF;
            font-family: Circular Std;
            font-size: 12px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
            letter-spacing: 0.24px;
            text-decoration: underline;
            cursor: pointer;
            display: block;
            margin-bottom: 17px;
            text-align: end;
        }
    }
}

.settlement-item{
    width: 46%;
    border-radius: 12px;
    
    padding: 20px;
    & .settlement-total{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;
        .settlement-title{
           margin: 0; 
           color: var(--flick-secondary-5, #151F32);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: -0.4px;
        }
    }
    .settlemet-amount{
        color: var(--flick-secondary-5, #151F32);
        font-family: Circular Std;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -0.8px;
        margin-bottom: 12px;
        
        & span{
            text-decoration-line: line-through;
        } 
    }
    .settlement-total{
        color: #151F32;
        
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.4px;

        & span{
            color: #98A2B3;
        }
    }
}

// customer page

// modal

.payment-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.20);
    z-index: 3;
    
    // transition: bottom 0.4s, opacity 0.4s;


    .modal-box{
        width: 33.3%;
        max-width: 480px;
        position: fixed;
        animation: fadeInRight .3s linear;
        right: 0;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background-color: #FFF;
        .modal-box-wrapper{
            width: 89%;
           

            .payment-modal-close{
                margin-top: 16px;
                display: block;
                margin-left: auto;
            }

            .payment-model-title{
                margin-top: 17px;
                margin-bottom: 42px;
                 
                & h3{
                    color: var(--gray-900, #101828);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px; /* 155.556% */
                }
                & p{
                    color: var(--gray-600, #475467);
                    font-family: Circular Std;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 450;
                    line-height: 20px; 
                }
            }
            .payment-model-line{
                background: #EAECF0;
                width: 100%;
                height: 1px;
            }
            .payment-model-amount{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                & p{
                    color: #485467;
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 450;
                    line-height: 140%; /* 19.6px */
                }

                & h4{
                    color: #161C2C;
                    font-family: Circular Std;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.8px;
                }
            }
            .payment-model-overview{
                margin-top: 14px;
                width: 100%;
                box-sizing: border-box;
                padding: 26px 22px;
                border-radius: 6px;
                background: #F7FCFC;


                .payment-model-content{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &.space{
                        margin-top: 20px;
                    }
                }
                .payment-model-th{
                    color: var(--gray-600, #475467);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 20px; /* 166.667% */
                }
                .payment-modal-td{
                    color: var(--flick-secondary-5, #151F32);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; 
                }
                
            }
        }
    }
}

// payout oveviewmodal
.payment-overview-btn{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 46px;
}